@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {

  --color-primary: #1A1B1C;
  --color-secondary: #F2F1F0;
  --color-accent: #E13C30;

  --font-sans: 'Poppins', 'sans-serif';
}