/*-------- VARIABLES --------*/
:root {
    --primary-color: #1A1B1C;
    --secondary-color: #F2F1F0;
    --accent-color: #E13C30;
    --font-family: 'Poppins', sans-serif;
}

/*--------- RESET --------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);

}

/*-------- GLOBAL --------*/
a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.red-text {
    color: var(--accent-color);
}

a.btn {
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
}
a.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
a.btn-black {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}
a.btn-black:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

p {
    font-weight: 500;
}

/*-------- HEADER --------*/
header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    position: fixed;
    /*box-shadow: 0 10px 30px 10px rgba(255,255,255,1); */ 
}

.logo {
    width: 250px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    margin-left: 2rem;
    flex: 1;
}

header nav ul li:last-child {
    margin-right: 0;
    margin-left: auto;
}
/*-------- HERO --------*/

h1 {
    display: block;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    width: 70%;
}
h1#hero-index {
    width: 100%;
}
/*-------- INTRODUCTION --------*/
.introduction {
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: center;
}

.introduction h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.introduction p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: center;
}

.introduction ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 2rem auto 0;
}
.introduction ul li {
    flex: 1;
    
}

/*-------- SERVICES SECTION --------*/
#services {
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem 2rem;
}

#services h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

#services ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0;
    
}

#services li {
    display: flex;
    align-items: center;
    gap: 15rem;
    flex-wrap: wrap;
}


#services li img {
    width: 400px;
    height: auto;
    flex-shrink: 0;
}

#services li div {
    flex: 1;
    max-width: 400px;
    

}

#services h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#services p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: justify;
}


/*-------- FOOTER --------*/
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 3rem 2rem 1rem;
    margin-top: 4rem;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links a {
    color: var(--secondary-color);
    font-size: 0.95rem;
    font-weight: 300;
}

footer p {
    text-align: center;
    margin-top: 2rem;
    opacity: 0.6;
    font-weight: 300;
}

.footer-content .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.bedizen-logo img {
    width: 150px;

}

.linkedin-logo img,
.twitter-logo img {
    width: 26px;
    height: 26px;
}

.linkedin-logo img:hover,
.twitter-logo img:hover {
    opacity: 1;
}

.footer-content .logo a.linkedin-logo,
.footer-content .logo a.twitter-logo {
    display: inline-block;
    margin-right: 0.5rem;
}
.up-button {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
}
/*/////////////////// A PROPO DE NOUS PAGE //////////////////*/

/*-------- SECTION À PROPOS  --------*/
.hero-secondary {
    background-image: url("../img/hero.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    
}
.hero-secondary h1{
    padding-top: 250px;
    text-align: center;
    font-size: 7rem;
    color: var(--secondary-color);
}
.about-main p {
    text-align: justify;
}
.about-main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.clients h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}
.clients ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.clients ul li img {
    max-width: 200px;
}

/*//////////////// CONTACT PAGE //////////////////*/
/*-------- TITLE  --------*/
.contact-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  padding-bottom: 0;
}

/*-------- CONTACT FORM --------*/

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  max-width: 1100px;
  margin: 8rem auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
}

.contact-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form .row {
  display: flex;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--primary-color);
  background-color: #eee;
  font-family: var(--font-family);
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
}

.checkboxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
}

.checkboxes label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkboxes input[type="checkbox"] {
  accent-color: var(--accent-color);
  width: 18px;
  height: 18px;
}


.contact-form button {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}
.contact-form button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.6;
}

.data-politics {
    font-size: 0.6rem;
    text-align: justify ;
    font-weight: 300;
}
.data-politics a {
    color: blue;
}
