<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NZ4ERD7XYL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NZ4ERD7XYL');
</script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PC2MB67S');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Alejandro Amaro Mendoza — Visual & UI Designer</title>
  <meta name="description" content="Official portfolio of Alejandro A. Mendoza, a Visual & UI Designer crafting intuitive interfaces and more.">
  <meta name="keywords" content="Alejandro Amaro Mendoza, Diseñador Visual, Diseñador UI, Diseñador UX, portafolio, diseño de interfaces, identidad visual, diseño gráfico, experiencia de usuario, Estrasburgo, Francia">
  <meta name="keywords" content="Alejandro Amaro Mendoza, Visual Designer, UI Designer, UX Designer, portfolio, interface design, visual identity, graphic design, user experience, Strasbourg, France">
  <meta name="keywords" content="Alejandro Amaro Mendoza, Concepteur Visuel, Concepteur UI, Concepteur UX, portfolio, conception d'interfaces, identité visuelle, design graphique, expérience utilisateur, Strasbourg, France">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    </head>
<body class="min-h-full flex flex-col home-page">
<div class="custom-cursor"></div>
  <header>
    <div class="container header-content">
      <a href="index.html" class="logo">alejandro a.m.</a>
      <nav id="desktop-menu" class="desktop-nav">
        <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="portfolio.html">portfolio</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
      <button id="menu-btn" class="menu-btn">
        <svg id="icon-menu" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        <svg id="icon-close" class="icon hidden-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
      </button>
      <nav id="menu" class="nav-menu">
        <ul>
          <li><a href="about.html">about</a></li>
          <li><a href="portfolio.html">portfolio</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <main class="flex-grow">
        {{ content }}
    </main>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/zoom.js"></script> 
    <script src="assets/js/cursor.js"></script>
     <footer>
    <div class="container footer-container">
      <div>
        <a href="mailto:ale.amaro.m@proton.me">ale.amaro.m@proton.me</a>
        <a href="https://www.linkedin.com/in/alejandro-a-mendoza/" target="_blank">LinkedIn</a>
      </div>
      <div class="cv-links">
  <a href="assets/img/CV/CV_AlejandroAM_EN.pdf" target="_blank">Résumé (EN)</a>
  <span>/</span>
  <a href="assets/img/CV/CV_AlejandroAM_FR.pdf" target="_blank">CV (FR)</a>
</div>
</div>
<p id="copyright">© 2026 Alejandro Amaro Mendoza - Design & Code</p>
  </footer>

</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC2MB67S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>